# App
APP_NAME=Receipts
DEBUG=false

# Database
DATABASE_URL=postgresql+asyncpg://postgres@localhost:5432/receipts

# Server
HOST=0.0.0.0
PORT=8000

# SSL
SSL_KEYFILE=ssl/key.pem
SSL_CERTFILE=ssl/cert.pem
