# App
APP_NAME=Receipts
DEBUG=true

# Database
DATABASE_URL=postgresql+asyncpg://postgres@localhost:5432/receipts

# CRPT API
PROXY=

# Server
HOST=127.0.0.1
PORT=8000

# SSL
SSL_KEYFILE=key.pem
SSL_CERTFILE=cert.pem
