# App
APP_NAME=Receipts
DEBUG=true

# Database
DATABASE_URL=postgresql+asyncpg://postgres@localhost:5432/receipts

# CRPT API
TIMEOUT_SECONDS=10

# Server
HOST=0.0.0.0
PORT=8000

# SSL
SSL_KEYFILE=key.pem
SSL_CERTFILE=cert.pem

# Security
ALGORITHM=HS256
SECRET_KEY=insecure-secret-key
ACCESS_TOKEN_EXPIRE_DAYS=7
